.content-wrapper{
    display: grid;
    grid-template-columns: 1fr 0.7fr; 
    background: radial-gradient(at top left, #36383f 50%, black);
    padding-top: 30px;
}

.content-wrapper> .left-content {
    margin-left: 65px;
    margin-right: 100px;
}

.content-wrapper> .left-content p:nth-child(1) {
    color: aliceblue;
    font-size: 2.7em;
    font-weight: lighter;
}

.content-wrapper> .left-content p:nth-child(2) {
    color: aliceblue;
    margin-right: 30px;
    filter: brightness(0.7);
    font-size: 2.2em;
    line-height: 1.5em;
}

.content-wrapper> .left-content button{
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 2.4em;
}

.content-wrapper> .left-content> .registration-btn {
    background-color: #4bce79;
    margin-right: 20px;
}

.content-wrapper> .left-content> .learn-more-btn {
    background-color: black;
    color: white;
}

.content-wrapper> .right-content {
    margin-left: 5px;
    margin-bottom: 0px;
    
}

.content-wrapper> .right-content h2{
    color: aliceblue;
    margin-left: 15px;
}

.blue-text{
    color: #28a0d0;
}

.content-wrapper> .right-content img{
    width: 100%;
    margin-top: -10px;
}